numpy 
cython

astropy
scipy
matplotlib
scikit-image
tqdm

# newer version causes problems
stsci.image==2.3.3

wfc3tools
stwcs
drizzlepac
astroquery

pyyaml

sep

# hstcalib from conda

git+https://github.com/gbrammer/reprocess_wfc3.git
git+https://github.com/gbrammer/grizli.git
git+https://github.com/gbrammer/tristars.git
git+https://github.com/gbrammer/mastquery.git
git+https://github.com/gbrammer/golfir.git
